%br
%h1 Welcome Back!

= form_for(:session, url: login_path, class: "form-group") do |f|

  = f.label :name
  = f.text_field :name, class: "form-control", placeholder: "Enter name"
  %br
  = f.label :password
  = f.password_field :password, class: "form-control", placeholder: "Password"
  %br
  = f.submit "Log In", class: "btn btn-secondary btn-sm"

%br
= button_to "Log in with Github", '/auth/github', class: "btn btn-secondary btn-sm"
