<h1>Add Comment</h1>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :expense_id %>

  <%= f.label :category %>
  <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "Select Category"}, class: "form-control") %>

  <%= f.label :description, class: "form-group" %>
  <%= f.text_area :description, class: "form-control" %>

  <%= f.submit "Add Comment", class: "btn btn-secondary btn-sm" %>

<% end %>
