<h2>Here are your reports for <%= "#{params[:year]}" %></h2>

<ul>
  <% @reports.each do |expense_report| %>
    <li>
      <%= expense_report.month %> | <%= expense_report.year %> | <%= link_to "View", expense_report_path(expense_report) %>
    </li>
  <% end %>
</ul>

<%= link_to "All Reports", user_expense_reports_path(current_user.expense_reports) %> |
<%= link_to "Profile", user_path(current_user) %>
