<br>
<h1><%= @user.name %>'s Expense Reports</h1>

<%= render 'search_by_year' %>

<%= render partial: 'all_reports_table', locals: { expense_reports: @expense_reports } %>

<br>
<%= link_to "New Expense Report", new_user_expense_report_path(@user), class: "btn btn-secondary btn-sm" %>
<%# <%= link_to "Current Report", users_current_expense_report_path(@user, @expense_report) %>
