<h1><%= @user.name %>'s Expense Reports</h1>

<ul> <!-- Eventually need to turn this into a table -->
  <p>
    <% @expense_reports.by_chronological_order.each do |expense_report| %>
    <li><%= expense_report.month %> | <%= expense_report.year %> | <%= link_to "View", expense_report_path(expense_report) %></li>
    <% end %>
  </p>
</ul>

<%= link_to "New Expense Report", new_user_expense_report_path(@user) %> |
<%= link_to "Profile", user_path(current_user) %>
