<h1><%= @user.name %>'s Expense Reports</h1>

<%= render 'search_by_year' %>

<ul> <!-- Eventually need to turn this into a table -->
  <p>
    <% @expense_reports.recently_added.each do |expense_report| %>
    <li><%= expense_report.month %> | <%= expense_report.year %> | <%= link_to "View", expense_report_path(expense_report) %></li>
    <% end %>
  </p>
</ul>

<%= link_to "New Expense Report", new_user_expense_report_path(@user) %> |
<%# <%= link_to "Current Report", users_current_expense_report_path(@user, @expense_report) %> 
<%= link_to "Profile", user_path(current_user) %>
