<h1>Create new expense report</h1>

<%= form_for [@user, @expense_report] do |f| %>
<%= f.hidden_field :user_id%>

  <%= f.label :month %>
  <%= f.text_field :month %>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <%= f.submit %>

<% end %>
