%br
%h1#expense-report-details #{@expense_report.month} | #{@expense_report.year}

= render :partial => 'expense_report_options'
%br

%h4 Expenses

= render :partial => 'expenses_table', locals: { expenses: @expenses }

%br

-# This button and a previous report button would always be shown
= link_to "Previous Report", expense_report_path(@prev_report), id: "prev-report", class: "btn btn-secondary btn-sm", data_id: @expense_report.id
= link_to "Next Report", expense_report_path(@next_report), id: "next-report", class: "btn btn-secondary btn-sm", data_id: @expense_report.id
= submit_tag "Cost", id: "sort-cost", class: "btn btn-secondary btn-sm", data_id: @expense_report.id
