<div class="dropdown">
  <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="<%= edit_expense_report_expense_path(@expense_report.id, @expense) %>">Edit</a>
    <a class="dropdown-item" href="<%= expense_report_path(@expense_report) %>">Current Report</a>
  </div>
</div>


<%# <%= link_to "Edit", edit_expense_report_expense_path(@expense_report.id, @expense), class: "btn btn-secondary btn-sm" %>
<%# <%= link_to "Delete", expense_report_expense_path(@expense_report.id, @expense), method: :delete, data: { confirm: 'Are you sure you want to delete this expense?' }, class: "btn btn-secondary btn-sm" %> 
<%# <%= link_to "Back", expense_report_path(@expense_report), class: "btn btn-secondary btn-sm" %>
