= form_for [@expense_report, @expense], class: "form-group" do |f|
= f.hidden_field :expense_report_id, value: params[:expense_report_id]

  = f.label :month, "Month"
  = f.text_field :month, class: "form-control", placeholder: "Enter month"
  %br
  = f.label :cost, "Cost"
  = f.number_field :cost, class: "form-control", placeholder: "Enter cost"
  %br
  = f.label :category
  = f.collection_select(:category_id, @categories, :id, :name, {prompt: "Select Category"}, class: "form-control")

  = f.fields_for :comments do |comment_builder|
    %br
    = comment_builder.label :description, "Comment"
    = comment_builder.text_area :description, class: "form-control"

  %br
  = f.submit class: "btn btn-secondary btn-sm"




-# <%= form_for [@expense_report, @expense], class: "form-group" do |f| %>
-# <%= f.hidden_field :expense_report_id, value: params[:expense_report_id] %>
-#
-#   <%= f.label :month, "Month" %>
-#   <%= f.text_field :month, class: "form-control", placeholder: "Enter month" %>
-#   <br>
-#   <%= f.label :cost, "Cost" %>
-#   <%= f.number_field :cost, class: "form-control", placeholder: "Enter cost" %>
-#   <br>
-#   <%= f.label :category %>
-#   <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "Select Category"}, class: "form-control") %>
-#
-#   <%= f.fields_for :comments do |comment_builder| %>
-#     <br>
-#     <%= comment_builder.label :description, "Comment" %>
-#     <%= comment_builder.text_area :description, class: "form-control" %>
-#
-#   <% end %>
-#   <br>
-#   <%= f.submit class: "btn btn-secondary btn-sm" %>
-#
-# <% end %>
