<br>
<h1>Expense Details</h1>

<%= render partial: 'expense_options' %>
<br>
<%= render partial: 'expense_details_table', locals: { expense: @expense, expense_report: @expense_report } %>

<br>
<h4>Expense Comments</h4>

  <ul id="expense-comments">
  <% @comments.each do |comment| %>
    <li><%= comment.description %></li>
  <% end %>
  </ul>

  <%= render partial: 'comments/new', locals: { comment: @comment } %>


<br>
<%# <%= link_to "Delete", expense_report_expense_path(@expense_report.id, @expense), method: :delete, data: { confirm: 'Are you sure you want to delete this expense?' }, class: "btn btn-secondary btn-sm" %>
