<h1>Expense Details</h1>

<ul>
  <li>Month: <%= @expense.month %></li>
  <li>Cost: $<%= @expense.cost %></li>
</ul>

<h3>Expense Category</h3>

  <ul>
    <li><%= @expense.categories.last.name %></li>
  </ul>

<h4>Expense Comments</h4>

  <ul>
    <li><%= @expense.comments.last.description %></li>
  </ul>




<%= link_to "Edit", edit_expense_path(@expense) %> | <%= link_to "Profile", user_path(current_user) %>
