<!DOCTYPE html>
<html>
  <head>
    <title>Tax Driver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if flash.alert %>
      <div class="alert"><strong><%= flash.alert %></strong></div>
    <% end %>

  <body>
    <%= yield %>
  </body>
</html>
